/* h1 {
  color: gold;
  background-color: rosybrown;
}

h2 {
  color: indigo;
  background-color: bisque;
}

p {
  color: hotpink;
  font-weight: 700;
  background-color: darkkhaki;
} */

h1 {
  text-align: center;
  font-weight: 400;
  text-decoration: #f78120 underline wavy;
  letter-spacing: 5px;
  font-size: 80px;
  font-family: Segoe UI, Futura, Arial, sans-serif;
}

p {
  line-height: 2;
}
