<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Home Page</title>
  </head>
  <body>
    <h1>The Home Page: <%= "hello world".toUpperCase()%></h1>

    <h2>01.</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit
      repudiandae distinctio corrupti veritatis atque quo, nesciunt consectetur
      dolor quae minus, nulla voluptatum. In ullam cupiditate ex ipsam sequi!
      Asperiores, assumenda?
    </p>

    <h2>02.</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit
      repudiandae distinctio corrupti veritatis atque quo, nesciunt consectetur
      dolor quae minus, nulla voluptatum. In ullam cupiditate ex ipsam sequi!
      Asperiores, assumenda?
    </p>
  </body>
</html>
